:root {
  --primary: #e3562a;
  --horizontal-space: 25px;
  --main-border: 1px solid rgba(0, 0, 0, 0.2);
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 309px;
  height: 56px;
  background-color: #e3562a;
  color: white;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 53px;
  margin-left: 33px;
}
