.intro-2-screen {
  justify-content: center;
  display: flex;
  margin-top: 112px;
}
.intro-2-title {
  font-size: 24px;
  font-weight: 500;
  color: #3c3a36;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 8px;
}
.intro-2-text {
  font-size: 14px;
  font-weight: 400;
  color: #78746d;
  text-align: center;
  margin-bottom: 94px;
  line-height: 21px;
}
.intro-2-bottom {
  padding-bottom: 50px;
}
