.notFound-screen {
  justify-content: center;
}
input {
  width: 343px;
  height: 56px;
  border-radius: 12px;
  margin-left: 16px;
  margin-top: 16px;
}

.notFound-screen {
  justify-content: center;
  display: flex;
  margin-top: 31px;
}
.notFound-title {
  font-size: 24px;
  font-weight: 500;
  color: #3c3a36;
  text-align: center;
  margin-top: 32px;
}
.notFound-text {
  font: size 14px;
  font-weight: 400;
  color: #78746d;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 221px;
  line-height: 21px;
}

.homeBer {
  margin-top: 221px;
}

.not-found-input {
  font-weight: 400;
  font-size: 14px;
  border: 1px #bebab3 solid;
}
