.payment-added-screen {
  justify-content: center;
  margin-bottom: 100px;
  font-size: 24px;
}

.saved-screen {
  justify-content: center;
  display: flex;
}
.saved-title {
  font-size: 24px;
  font-weight: 500;
  color: #3c3a36;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 8px;
}
.saved-text {
  font: size 14px;
  font-weight: 400;
  color: #78746d;
  text-align: center;
}
