.splash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.splash-screen {
  justify-content: center;
  display: flex;
}
.splash-title {
  font-size: 40px;
  font-weight: 700;
  color: #3c3a36;
  text-align: center;
  margin-top: 16px;
}
